{% extends 'base.html.twig' %}

{% block title %}New Blog Post{% endblock %}

{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <h1 class="text-center mb-5">Create a new blog post</h1>
                {{ form_start(form) }}
                    <div class="form-group">
                        {{ form_label(form.title) }}
                        {{ form_widget(form.title, { 'attr': {'class': 'form-control', 'placeholder': 'Title'} }) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.content) }}
                        {{ form_widget(form.content, { 'attr': {'class': 'form-control', 'placeholder': 'Content'} }) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.created_at) }}
                        {{ form_widget(form.created_at, { 'attr': {'class': 'form-control', 'placeholder': 'Publication Date'} }) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.author) }}
                        {{ form_widget(form.author, { 'attr': {'class': 'form-control', 'placeholder': 'Author'} }) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.url) }}
                        {{ form_widget(form.url, { 'attr': {'class': 'form-control', 'placeholder': 'Image URL'} }) }}
                    </div>
                    <div class="text-center">
                        <button type="button" class="btn btn-primary">Create</button>
                        <a href="{{ path('blog_index') }}" class="btn btn-secondary">Cancel</a>
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
